.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 1000px;
    // background-color: bisque;
    margin: auto;
}
.box {
    // height: 100px;
    // width: 100px;
    // background-color: aquamarine;
}
